In [ ]:
# Importe de librarías
import pandas as pd

# Carga de la base de datos
lista_de_regalos = [
("Juguete", 5, 8),
("Libro de cuentos", 2, 6),
("Muñeco de nieve", 1, 9),
("Calcetines", 3, 4),
("Rompecabezas", 4, 7),
("Chocolate", 2, 5),
("Peluche", 5, 8),
("Juego de construcción", 3, 6),
("Galletas", 1, 7),
("Libro de cuentos", 2, 6),
("Peluche", 5, 8)
]

# Imprimir en pantalla la base de datos convertida den un Dataframe
regalos_df = pd.DataFrame(lista_de_regalos, columns=['tipo','tamaño','nivel_de_felicidad'])

# Eliminar los duplicados
regalos_df.drop_duplicates(inplace=True)

# Organizar los datos primero por tipo, luego por tamaño y finalmente por nivel de felicidad
regalos_df.sort_values(by=['tipo','tamaño','nivel_de_felicidad'])

                    tipo  tamaño  nivel_de_felicidad
3             Calcetines       3                   4
5              Chocolate       2                   5
8               Galletas       1                   7
7  Juego de construcción       3                   6
0                Juguete       5                   8
1       Libro de cuentos       2                   6
2        Muñeco de nieve       1                   9
6                Peluche       5                   8
4           Rompecabezas       4                   7